@charset "utf-8";
* {
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  padding: 0;
}
li {
  text-align: center;
  display: inline-block;
  margin: 0px;
  background-color: rgb(255, 235, 170);
  height: 100px;
  width: 100px;
}
h1 {
  display: inline;
}
span {
  display: inline-block;
  margin: 10px;
  background-color: darkseagreen;
  height: 100px;
  width: 100px;
}
img {
  width: 200px;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  display: inline-block;
  margin: 30px;
  text-align: center;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: rgb(35, 80, 65);
  display: inline-block;
  margin: 30px;
  text-align: center;
}
.box3 {
  width: 100px;
  height: 100px;
  background-color: rgb(3, 44, 30);
  display: inline-block;
  margin: 30px;
  text-align: center;
}
